<html>
{{template "head"}}
<body>
{{template "nav" .Client.Name }}
<main>
  <h1>Create Budget</h1>
  <form method="post">
    <label for="amount">Amount:</label>
    <input type="text" name="amount" required>
    <label for="category">Category:</label>
    <select name="category">
      {{ range $c := .Categories }}
      <option value="{{ $c.ID }}">{{ $c.Description }}</option>
      {{ end }}
    </select>
    <input type="submit" value="Submit">
  </form>
  <h1>Budgets</h1>
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    {{ range $b := .Client.Budgets }}
    <tr>
      <td>{{ $b.Category.Description }}</td>
      <td>{{ $b.Amount }}</td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</main>
{{template "footer"}}
</body>
</html>
